MainMenu {
    background: $boost;
    height: 6;
    margin: 1;
    min-width: 30;
    padding: 1;

}

Screen {
    layout: vertical;
    align: center middle;
}


Button {
    width: 16;
}

.main_menu {
    text-align: center;
    margin: 1;
}


# Info
.info {
    background: $boost;
    min-width: 70;
    align: center middle;

}